*{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

:root {
  --cor1: #ffffff;
  --cor2: #F54748;
  --cor3: #FDC55E;
}

body{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-left: 5%;
  padding-right: 5%;
  
}

button{
  border-radius: 50px;
  border: 0ch;
  background-color: var(--cor2);
  color: var(--cor1);
  padding-right: 25px;
  padding-left: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 12pt;
}

#tred{
  color: var(--cor2);
}

#tyellow{
  color: var(--cor3);
}

@media screen and (min-width: 1025px){
  header{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    max-width: 1900px;
    align-items: center;
  }

  .logo{
    float: left;
    display: flex;
    align-content: center;
    margin-top: 20px;
  }

  .menu-content{
    position: relative;
    float: right;
    width: 80%;
  }

  ul {
    list-style: none;
    display: flex;
    justify-content: right;
    align-items: center;
  }

  li{
    margin: 2%;
  }

  main{
    display: flex;
    width: 100%;
    max-width: 1900px;
    margin-top: 3%;
  }

  .main-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  .main-left{
    max-width: 50%;
    padding-top: 70px;
  }

  .main-right img{
    width: 100%;
    height: auto;
    margin: 0px;
  }

  #msg-coracao{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #f5474725;
    width:175px;
    border-radius: 15px;
    font-size: 13pt;
  }

  #msg-coracao img{
    margin-right: 5px;
  }

  .ln1_text{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    
    margin: 0px;
    max-width: 800px;
  }

  .ln1_text p{
    margin: 0%;
    font-size: calc(3vw + 0.5em);
    margin-right: 50px;
  }

  .ln2_text{
    font-size: calc(1vw + 0.7em);
    max-width: 90%;
    text-align: left;
    color: rgba(0, 0, 0, 0.677);
  }

  #search{
    background: url("../Assets/Images/lupa.png") no-repeat scroll 13px 15px;
    border-radius: 30px;
    width: 35%;
    max-width: 750px;
    box-shadow: none;
    font-size: 14pt;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.255);
    padding-left:55px;
    padding-right: 55px;
    margin-bottom: 2px;
    margin-left: 2px;
    outline: none;
    position: absolute;
    float: left;
  }

.search_area{
    width: 80%;
    height: 80px;
    display: flex;
    justify-content: right;
}

#bt_search{
    background: url("../Assets/Images/lupa_branca.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 18px;
    padding-left: 32px;
    border-radius: 100%;
    background-color: var(--cor3);
    border-style: none;
    margin-right: 10px;
    margin-top: 10px;
  }

  #area-buttom{
    position: relative;
    float: right;
  }

  #links{
    display: flex;
    align-items: center;
    padding-left: 25px;
  }

  #bt_play{
    background-image: url("../Assets/Images/Polygon1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    background-color: #ffff;
    border-radius: 100%;
    box-shadow: 0px 15px 30px rgba(233, 105, 81, 0.3);
    margin-left: 7%;
  }

  #link_video{
    font-size: 15pt;
    margin-left: 2%;
  }

  #link_video a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.625);
  }

  #slider{
    padding-top: 3%;
    width: 100%;
  }
}

@media screen and (max-width: 1024px) {
  header {
    width: 100%;
  }

  .main-container{
    display: flex;
    flex-wrap: wrap-reverse;
  }
  
  .menu-content{
    display: none;
  }

  .logo img {
    width: 90%;
    height: auto;
  }

  .logo{
    float: left;
  }

  .main-right img {
    width: 100%;
    max-width: 450px;
    height: auto;
  }

  .main-right{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 5%;
  }

  #msg-coracao{
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #f5474725;
    width:160px;
    border-radius: 15px;
    font-size: 13pt;
  }

  #msg-coracao img{
    margin-right: 5px;
  }

  .ln1_text{
    display: flex;
    flex-wrap: wrap;
    font-weight: bold;
    font-size: 30pt;
  }
  .ln1_text p{
    margin-right: 15px;
    margin-top: 0%;
    margin-bottom: 0%;
  }

  .ln2_text{
    font-size: calc(1vw + 0.9em);
    max-width: 90%;
    text-align: left;
    color: rgba(0, 0, 0, 0.677);
  }

  #search{
    background: url("../Assets/Images/lupa.png") no-repeat scroll 13px 15px;
    border-radius: 30px;
    width: 80%;
    height: 58px;
    max-width: 750px;
    box-shadow: none;
    font-size: 14pt;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: rgba(255, 255, 255, 0);
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.255);
    padding-left:45px;
    padding-right: 20px;
    outline: none;
    margin-right: 5%;
  }

.search_area{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content:center;
    align-items: center;
}

#bt_search{
    background: url("../Assets/Images/lupa_branca.png");
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 18px;
    padding-left: 32px;
    border-radius: 100%;
    background-color: var(--cor3);
    border-style: none;
  }

  #area-buttom{
    position: relative;
    float: right;
  }

  #links{
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 25px;
  }

  #bt_play{
    background-image: url("../Assets/Images/Polygon1.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 46px;
    height: 46px;
    background-color: #ffff;
    border-radius: 100%;
    box-shadow: 0px 15px 30px rgba(233, 105, 81, 0.3);
    margin-left: 7%;
  }

  #link_video{
    font-size: 15pt;
    margin-left: 2%;
  }

  #link_video a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.625);
  }

  #slider{
    padding-top: 10%;
    width: 100%;
  }
}